$primary: #00503F;
$primary-100: #EBF1F0;
$primary-200: #99B9B2;
$deco-green: #576E22;
$deco-coral: #FF814A;
$deco-bright-green: #96FF00;
$deco-blue: #0000C2;
$deco-pink: #FFAB91;
$danger: #FF3A55;

$gray-200: #eeeeee;
$gray-400: #c0c0c0;
$gray-700: #484848;
$gray-900: #121212;

$custom-colors: (
    "primary": $primary,
    "primary-100": $primary-100,
    "primary-200": $primary-200,
    "deco-green": $deco-green,
    "deco-coral": $deco-coral,
    "deco-bright-green": $deco-bright-green,
    "deco-blue": $deco-blue,
    "deco-pink": $deco-pink,
    "danger": $danger,

    "gray-200":  $gray-200, 
    "gray-400":  $gray-400, 
    "gray-700":  $gray-700, 
    "gray-900":  $gray-900, 
    );

$theme-colors: map-merge($theme-colors, $custom-colors);
$grays: map-merge($grays, $custom-colors);