<nav class="navbar navbar-expand-lg top-auto py-lg-0 position-fixed w-100" id="navbar">
    <div class="container">
        <a class="navbar-brand d-flex py-lg-0 d-lg-block d-none" href="index.html">
            <img src="/assets/images/Logo-navbar.svg" alt="logo">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav py-lg-7 mb-2 mb-lg-0 gap-lg-7">
                <li class="nav-item">
                    <a class="nav-link py-lg-3 px-lg-5" href="#">所有貼文</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-lg-3 px-lg-5" href="#">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-lg-2 search-icon" href="#" type="button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 21L16.7 16.7M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item border border-black" id="auth-button">
                    <a href="login.html" class="nav-link nav-item-btn py-lg-3 px-lg-5">登入/註冊</a>
                </li>
            </ul>
        </div> -->

        <button class="navbar-toggler navbar-toggler-custom p-10 rounded-start-3" type="button" data-bs-toggle="offcanvas" href="#offcanvasNav" role="button" aria-controls="offcanvasNav" id="navbarToggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="burgerIcon">
                <path d="M4 12H20M4 6H20M4 18H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="closeIcon" class="d-none">
                <path d="M18 6L6 18M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>     
        </button>
        <!-- 電腦版 -->
        <div class="d-lg-block d-none">
            <ul class="navbar-nav py-lg-7 mb-2 mb-lg-0 gap-lg-7">
                <li class="nav-item">
                    <a class="nav-link py-lg-3 px-lg-5" href="#">所有貼文</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-lg-3 px-lg-5" href="#">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-lg-2 search-icon" href="#" type="button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 21L16.7 16.7M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item border border-black" id="auth-button">
                    <a href="login.html" class="nav-link nav-item-btn py-lg-3 px-lg-5">登入/註冊</a>
                </li>
            </ul>
        </div>
        <!-- 手機版 -->
        <div class=" offcanvas offcanvas-start w-100 border-0 d-lg-none d-sm-block" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
            <div class="offcanvas-header d-flex justify-content-between">
                <h1 class="offcanvas-title" id="offcanvasNavLabel">
                    <a href="index.html">
                        <img src="/assets/images/Logo-navbar.svg" alt="logo">
                    </a>
                </h1>
                <div class="nav-item border border-black auth-button" id="auth-button">
                    <a href="login.html" class="nav-link nav-item-btn py-3 px-5">登入/註冊</a>
                </div>
            </div>
            <ul class="offcanvas-body navbar-nav vh-100 py-lg-7 mb-2 mb-lg-0 gap-lg-7">
                <li class="nav-item mb-10">
                    <h2 class="fs-1 fw-bolder">
                        <a class="nav-link" href="#">附近美味</a>
                    </h2>
                </li>
                <li class="nav-item mb-10">
                    <h2 class="fs-1 fw-bolder">
                        <a class="nav-link" href="#">分享美味</a>
                    </h2>
                </li>
                <li class="nav-item mb-10">
                    <h2 class="fs-1 fw-bolder">
                        <a class="nav-link" href="#">所有貼文</a>
                    </h2>
                </li>
                <li class="nav-item">
                    <h2 class="fs-1 fw-bolder">
                        <a class="nav-link" href="#">關於我們</a>
                    </h2>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="search">
    <div class="search-background">
        <div class="search-bar row gap-xxl-7">
            <a class="navbar-brand col-lg-3 col-xxl-4 d-flex align-items-center justify-content-center" href="index.html">
                <img src="/assets/images/Logo-navbar.svg" alt="logo">
            </a>
            <div class="col-lg-9 col-xxl-6 search-content">
                <div class="search-form row flex-nowrap py-7">
                    <div class="input-group col-lg-4 col-xxl-6 rounded-3">
                        <input class="form-control search-input py-3 px-5 flex-grow-1 bg-white" type="text"
                            name="search" placeholder="附近美味">
                        <a href="#" class="input-group-text border-0 bg-transparent py-2 ps-0 pe-5">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21 21L16.7 16.7M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                    <div class="dropdown col-lg-3">
                        <button
                            class="nav-link dropdown-btn d-flex align-items-center justify-content-between ps-5 pe-2 py-2 rounded-3 bg-white text-gray-900 w-100"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            地理位置
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class=" dropdown-arrow">
                                <path d="M6 9L12 15L18 9" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu custom-dropdown-menu">
                            <li><a class="dropdown-item" href="#">臺北市</a></li>
                            <li><a class="dropdown-item" href="#">新北市</a></li>
                            <li><a class="dropdown-item" href="#">桃園市</a></li>
                            <li><a class="dropdown-item" href="#">臺中市</a></li>
                            <li><a class="dropdown-item" href="#">臺南市</a></li>
                            <li><a class="dropdown-item" href="#">高雄市</a></li>
                        </ul>
                    </div>
                    <div class="dropdown col-lg-3 ps-0">
                        <button
                            class="nav-link dropdown-btn d-flex align-items-center justify-content-between ps-5 pe-2 py-2 rounded-3 bg-white text-gray-900 w-100"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            地理位置
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="dropdown-arrow">
                                <path d="M6 9L12 15L18 9" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                </svg>
                        </button>
                        <ul class="dropdown-menu custom-dropdown-menu">
                            <li><a class="dropdown-item" href="#">主食</a></li>
                            <li><a class="dropdown-item" href="#">甜點</a></li>
                            <li><a class="dropdown-item" href="#">飲料</a></li>
                            <li><a class="dropdown-item" href="#">水果</a></li>
                            <li><a class="dropdown-item" href="#">零食</a></li>
                            <li><a class="dropdown-item" href="#">熟食</a></li>
                            <li><a class="dropdown-item" href="#">未烹飪食材</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <a
            class="close-btn d-flex flex-column align-items-center justify-content-center ms-2 bg-black rounded-bottom-3 text-white fw-bold">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-2">
                <path d="M18 6L6 18M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            關閉
        </a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        /* 向下滾動 - 隱藏 navbar & 向上滾動 - 顯示 navbar */
        let lastScrollTop = 0;
        const navbar = document.getElementById('navbar');

        window.addEventListener('scroll', function () {
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollTop > lastScrollTop) {
                navbar.style.top = "-88px";
            } else {
                navbar.style.top = "0";
            }
            lastScrollTop = scrollTop;
        });

        /* 模擬登入後「登入/註冊」按鈕變成「我的帳號」下拉選單 */
        // 檢查 localStorage 中是否有「已登入」狀態
        let isLoggedIn = localStorage.getItem('loggedIn');

        const authButton = document.getElementById('auth-button');

        if (isLoggedIn) {
            // 如果已登入，替換為「我的帳號」下拉選單
            authButton.innerHTML = `
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-btn py-lg-3 px-lg-5  position-relative" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        我的帳號
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-primary p-1">
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu nav-dropdown-menu" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" href="#">我的主頁</a></li>
                        <li><a class="dropdown-item" href="#">我的發文</a></li>
                        <li><a class="dropdown-item" href="#">全部通知</a></li>
                        <li><a class="dropdown-item" href="#" id="logout">登出</a></li>
                    </ul>
                </li>
            `;

            // 登出邏輯
            document.getElementById('logout').addEventListener('click', function () {
                localStorage.removeItem('loggedIn');
                window.location.reload();  // 刷新頁面以回到未登入狀態
            });
        } else {
            // 模擬登入，當點擊登入時儲存狀態
            authButton.addEventListener('click', function (e) {
                localStorage.setItem('loggedIn', true);
            });
        }

        /* 下拉選單上下箭頭 */
        const dropdownButtons = document.querySelectorAll('.dropdown-btn');
        
        dropdownButtons.forEach(button => {
            button.addEventListener('click', function () {
                const dropdownArrow = event.currentTarget.querySelector('.dropdown-arrow');
                dropdownArrow.classList.toggle('flip-arrow');
            });
        })

        /* 切換搜尋欄 */
        const searchIcon = document.querySelector('.search-icon');
        const searchBar = document.querySelector('.search');
        const closeBtn = document.querySelector('.close-btn');

        searchIcon.addEventListener('click', function () {
            searchBar.classList.remove('d-none');  // 顯示搜尋欄
            navbar.classList.add('d-none');  // 隱藏導航欄
        });

        closeBtn.addEventListener('click', function () {
            searchBar.classList.add('d-none');  // 隱藏搜尋欄
            navbar.classList.remove('d-none');  // 顯示導航欄
        });

        /* 切換漢堡圖標和關閉圖標 */
        const navbarToggler = document.getElementById('navbarToggler');
        const burgerIcon = document.getElementById('burgerIcon');
        const closeIcon = document.getElementById('closeIcon');

        navbarToggler.addEventListener('click', function () {
            burgerIcon.classList.toggle('d-none');
            closeIcon.classList.toggle('d-none');
            navbarToggler.classList.toggle('toggled');
        });

    });

    
</script>